.buttonContainer {
  display: flex;
  position: relative;
  border-color: var(--dl-color-primary-700);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius40);
}

.button {
  color: var(--dl-color-secondary-200);
  outlinr: none;
  font-size: .78rem;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
}

.button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-500);
}

@media(max-width: 991px) {
  .button {
    font-size: 1rem;
  }
}

@media(max-width: 767px) {
  .button {
    font-size: 0.6rem;
  }
}

@media(max-width: 479px) {
  .button {
    font-size: 0.75rem;
  }
}